.heading{
    text-align: center;
    text-decoration: dotted;
}

.add-cupcake{
    text-align: center;
}

.submit-cupcake{
    margin-left: 540px;
}

.list-cupcake{
    text-align: center;
}

.cupcake-list{
    text-align: center;
}

.list{
    text-align: center;
}

.go-make-cupcake{
    margin-left: 540px;
}

.body{
    background-color: lightpink;
}

.hd{
    text-align: center;
}